* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* HEADER  */

.nav {
  width: 100vw;
  height: 70vh;
  background-color: #0d325a;
}

.logo {
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 30px;
  float: left;
}

header:after {
  display: table;
  content: '';
  clear: both;
}

.nav-left li,
.nav-left li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  float: left;
  margin: 3% 5px;
  font-size: 12px;
}

.nav-left li a:hover,
.nav-right li:first-child a:hover {
  color: orange;
}

.nav-right {
  float: right;
  margin-right: 5%;
  transform: translateY(-8px);
}

.nav-right li,
.nav-right li  a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin: 20px 5px;
  font-size: 12px;
}

.btn {
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.green {
  background-color: #7bbc00;
}

.login {
  border: 1px solid #4e8cb6;
  padding-left: 25px;
  padding-right: 25px;
}

.two-col .sx-col {
  width: 50%;
  text-align: left;
  position: absolute;
  top: 30%;
  margin-left: 5%;
  color: white;
  font-size: 28px;
}

.sx-col a {
  padding: 15px;
  background-color: #7bbc00;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  position: absolute;
  transform: translateY(30px);
}
/* FINE HEADER  */


/* UNDER HEADER  */

.under-header,
.row  {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  font-size: 20px;
}

.under-header {
  padding: 30px 0;
}

.under-header > p {
  margin-top: 10px;
  color: #999;
}

.text-center {
  text-align: center;
}
/* FINE UNDER HEADER */


/* TRE COLONNE */
.three-cols .col3 img {
  width: 40%;
  margin: 20px 0;
}

.container {
  width: 100%;
}

.col3 {
  width: 33%;
  float: left;
  margin-top: 30px;
}

.col3 h2 {
  color: #7bbc00;
  padding:  30px;
}

.col3 p {
  padding: 40px 25px;
  color: #999;
}

.col3 hr {
  width: 40px;
  margin: auto;
}

/* FINE TRE COLONNE */

/* DUE COLONNE */
.two-cols {
  position: relative;
}

.col2 {
  float: left;
  width: 50%;
}

.text-left {
  text-align: left;
}

.col2 img {
  width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  left: 20%;
  margin: 10% 0;
}

.col2 h1,
.col2 p,
.col2 span {
  padding: 0 120px;
  margin: 30px 0;
  transform: translateY(150px);
}
 .two-cols {
   clear: both;
   content: '';
   display: table;
 }

 /*  FINE DUE COLONNE*/

 /* RIGA  */
.container-row:first-child h2 {
  margin-left: 100px;
}

.container-row {
  width: 50%;
  float: left;
  padding: 30px 0;
}

.container-row * {
  float: left;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.select {
  margin: 0 70px;
  border-bottom: 2px solid grey;
}

.select i {
  padding: 5px 30px;
}

.row .btn {
  text-decoration: none;
  color: white;
}
/* FINE RIGA  */

/* LEZIONI BLU  */
.blue-section {
  width: 100%;
  height: 100%;
  background-color: #0d325a;
}

.col2-blu {
  width: 50%;
  position: relative;
  float: left;
}


.col2-text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(150px);
  padding: 0 60px;
  margin: auto;
}

.blue-section {
  clear: both;
  content: '';
  display: table;
}

.col2-blu img {
  transform: translate(60%);
}

.col2-text * {
  padding: 20px;
  color: white;
}

.col2-text p {
  color: #999;
}

.col2-text a {
color: #98c8f8;
}

.col2-text span {
  padding: 0;
  color: orange;
}

.col2-text h1 {
  font-size: 30px;
}
/* FINE LEZIONI BLU  */

/* MANI  */
.mani {
  padding: 50px 0;
}
.mani:after {
  display: table;
  content: '';
  clear: both;
}

.col2-mani,
.col2-mani-text {
  width: 50%;
  float: left;
  position: relative;
}

.mani-text {
  position:absolute;
  top: 50%;
  left: 0;
  transform: translateY(10%);
  padding: 50px;
}

.mani-text * {
  padding: 20px;
}

.mani-text span {
  width: 100px;
  text-align: center;
}

.col2-mani img {
padding: 50px;
}

.mani-text a {
  color: white;
}
/* FINE MANI  */

/* PC  */

.center-pc {
  width: 50%;
  margin: auto;
}
.center-pc img {
  margin-top: 40px;
}
.center-pc * {
  padding: 10px;
}

.center-pc:last-child {
padding-bottom: 20px;
}

/* FINE PC  */

/* AZIENDA  */
.latuaazienda {
background-color: #0d325a;
height: 400px;
}

.aziend-sx-col *{
  width: 60%;
  color: white;
  padding-top: 20px;
}

.aziend-sx-col {
    position: relative;
}

.azienda-text {
  padding: 20px;
  margin-left: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(10%);
  padding: 40px;
}

.azienda-text h1 {
  font-size: 30px;
}

.azienda-text p {
  color: #999;
}

.azienda-text a {
 color:  #98c8f8;
}
/* FINE AZIENDA  */

 /* STRUTTURA UN PIANO */
.piano-container {
  width: 60%;
  margin: 0 auto;
}

.piano-sx,
.piano-cn,
.piano-dx {
  width: 30%;
  float:left;
  margin-top: 20px;
}

.piano-cn {
  margin-left: 5%;
  margin-right: 5%;
}

.piano-container img {
  width: 50px;
}
.piano-container div {
  margin: 20px 10px;;
}
.piano-container h3,
.piano-container p {
  padding: 20px 0;
}

.piano-sx p {
  border-bottom: 3px solid #98c8f8;
}

.piano-cn p {
  border-bottom: 3px solid #f8b71c;;
}

.piano-dx p {
  border-bottom: 3px solid #7fb802;
}
